@model Enact.Models.BackendViewModels.TrialView

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Allocation Details</h2>
        <ol class="breadcrumb">
           
            <li class="active">
                <strong>Details of Trial allocation</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Allocation Details</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.allocation.Block)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allocation.Block)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.allocation.Combination_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allocation.Combination_ID)
        </dd>

        <dt>
            @Html.DisplayName("Audit")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.audit.Name)
        </dd>

    </dl>


	   
    @Html.ActionLink("Back to List", "Index","Trials", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













