<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                   
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        
                            <span class="block m-t-xs">
                                <strong class="font-bold">Administrator</strong>
                            
                        </span>
                    </a>
                   
                </div>
                <div class="logo-element">
                    E
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "AdminUsers")">
                <a href="@Url.Action("Index", "AdminUsers")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Admin Users</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Allocations")">
                <a href="@Url.Action("Index", "Allocations")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Allocations</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Audits")">
                <a href="@Url.Action("Index", "Audits")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Audits</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Combinations")">
                <a href="@Url.Action("Index", "Combinations")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Combinations</span> </a>
            </li>
            
           

           
            <li class="@Html.IsSelected(controller: "EmailAddresses")">
                <a href="@Url.Action("Index", "EmailAddresses")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Participants</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "EmailAddresses", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "EmailAddresses")">Email Addresses</a></li>
                    <!--<li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Surveys")">Survey</a></li>-->
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Trials")">Trials</a></li>
                    
                </ul>
            </li>
           
       
           
        </ul>
    </div>
</nav>