@model IEnumerable<Enact.Models.Combination>

@{
    ViewBag.Title = "Index";
}
<style>
    #ondiv{
        background: green;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Combinations</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Displays list of 16 possible combinations</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Combinations</h5>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Combination ID")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modification_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modification_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modification_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modification_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modification_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modification_F)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.DisplayFor(modelItem => item.Combination_ID)
        </td>
        <td>
            @if (item.Modification_A == true)
            {
                <div id="ondiv">
                    <p style="color:white;" class="text-center">ON</p>
                </div>

            }
            else
            {
                <div >
                    <p class="text-center">OFF</p>
                </div>
            }
        </td>
        <td>
            @if (item.Modification_B == true)
            {
                <div id="ondiv">
                    <p style="color:white;" class="text-center">ON</p>
                </div>

            }
            else
            {
                <div>
                    <p class="text-center">OFF</p>
                </div>
            }
        </td>
        <td>
            @if (item.Modification_C == true)
            {
                <div id="ondiv">
                    <p style="color:white;" class="text-center">ON</p>
                </div>

            }
            else
            {
                <div>
                    <p class="text-center">OFF</p>
                </div>
            }
        </td>
        <td>
            @if (item.Modification_D == true)
            {
                <div id="ondiv">
                    <p style="color:white;" class="text-center">ON</p>
                </div>

            }
            else
            {
                <div>
                    <p class="text-center">OFF</p>
                </div>
            }
        </td>
        <td>
            @if (item.Modification_E == true)
            {
                <div id="ondiv">
                    <p style="color:white;" class="text-center">ON</p>
                </div>

            }
            else
            {
                <div>
                    <p class="text-center">OFF</p>
                </div>
            }
        </td>
        <td>
            @if (item.Modification_F == true)
            {
                <div id="ondiv">
                    <p style="color:white;" class="text-center">ON</p>
                </div>

            }
            else
            {
                <div>
                    <p class="text-center">OFF</p>
                </div>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Combination_ID }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



